* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: normal;
}

body {
  background-color: #090b1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  margin-top: 4vw;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #1b1938;
  width: 80vw;
  height: 35vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
      grid-template-areas: 'contentArea imageArea';
}

.container .imageContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: imageArea;
}

.container .imageContainer .image, .container .imageContainer .overlay {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.container .imageContainer .image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.container .imageContainer .overlay {
  width: 40vw;
  height: 35vw;
  background-color: #aa5cdb;
  position: absolute;
  top: 4vw;
  mix-blend-mode: multiply;
}

.container .container2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: contentArea;
}

.container2 {
  padding: 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container2 #header {
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
  font-size: 2.5vw;
  padding-top: 5vw;
}

.container2 #header #insights {
  color: #aa5cdb;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
  font-size: 2.5vw;
}

.container2 #mainParagraph {
  color: rgba(255, 255, 255, 0.75);
  font-family: Inter, sans-serif;
  font-size: 1.4vw;
  line-height: 2vw;
  margin-bottom: 2.5vw;
}

.container2 #boxes {
  padding-bottom: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container2 #boxes .box1 .statsHeader {
  font-weight: 700;
  font-family: Inter, sans-serif;
  color: white;
  font-size: 2vw;
}

.container2 #boxes .box1 .statsTerm {
  font-family: Inter, sans-serif;
  font-size: 1.2vw;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.attribution {
  margin: 1rem;
  font-family: Inter, sans-serif;
  color: rgba(255, 255, 255, 0.6);
}

.attribution a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  font-style: normal;
  font-weight: 500;
}

@media screen and (max-width: 500px) {
  .container {
    margin-top: 5vw;
    width: 90vw;
    height: 240vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 30% 1fr;
        grid-template-rows: 30% 1fr;
        grid-template-areas: 'imageArea' 'contentArea';
  }
  .container .imageContainer {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: imageArea;
  }
  .container .imageContainer .image, .container .imageContainer .overlay {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .container .imageContainer .image {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .container .imageContainer .overlay {
    width: 90vw;
    height: 72vw;
    background-color: #aa5cdb;
    position: absolute;
    top: 5vw;
    mix-blend-mode: multiply;
  }
  .container .container2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: contentArea;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .container2 {
    padding: 0 12vw;
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 25% 25% 50%;
        grid-template-rows: 25% 25% 50%;
  }
  .container2 #header {
    color: white;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
    font-size: 7vw;
    padding-top: 8vw;
  }
  .container2 #header #insights {
    color: #aa5cdb;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
    font-size: 7vw;
  }
  .container2 #mainParagraph {
    color: rgba(255, 255, 255, 0.75);
    font-family: Inter, sans-serif;
    font-size: 4vw;
    line-height: 7vw;
  }
  .container2 #boxes {
    padding-bottom: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container2 #boxes .box1 .statsHeader {
    font-weight: 700;
    font-family: Inter, sans-serif;
    color: white;
    font-size: 7vw;
  }
  .container2 #boxes .box1 .statsTerm {
    font-family: Inter, sans-serif;
    font-size: 4vw;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
  }
  .attribution {
    text-align: center;
    margin: 4vw;
    font-family: Inter, sans-serif;
    color: rgba(255, 255, 255, 0.6);
    font-size: 5vw;
  }
  .attribution a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 500;
    font-size: 5vw;
  }
}
/*# sourceMappingURL=styles.css.map */